@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome to FastPass!</h1>

<p>Additional content to be added.</p>

 <img src="ut-logo.jpg" alt="University of Toledo Logo" class="ut-logo-home" />
